################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Solutions/.vs/Solutions
/Solutions/obj
